.app-custom-input {
  border: 2px solid #b76e79; /* Rose Gold como borde */
  border-radius: 5px; /* Bordes redondeados */
  overflow: hidden; /* Evita que el contenido sobresalga */
  padding: 5px 10px; /* Espaciado interno */
  background-color: #ffffff;
}
.app-custom-input ion-icon {
  color: #b76e79; /* Rose Gold */
}
